<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Eidos Clips</string>
	<key>CFBundleExecutable</key>
	<string>EidosClips</string>
	<key>CFBundleIconFile</key>
	<string>Clips.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.eidos.clips</string>
	<key>CFBundleName</key>
	<string>Eidos Clips</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_eidos-clips._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Show your camera bubble in recordings you start.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Pair a nearby drawing device with Clips.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record your voice when you enable the microphone.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Record the display you select when you press Record.</string>
</dict>
</plist>
